<h2>Track Claim Status</h2>
<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Submitted Date</th>
            <th>Status</th>
            <th>Approved By</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>01/09/2024</td>
            <td>Approved</td>
            <td>Zama Mthethwa</td>
        </tr>
        
    </tbody>
</table>