<h2>Pending Claims for Approval</h2>
<table class="table">
    <thead>
        <tr>
            <th>Claim ID</th>
            <th>Lecturer</th>
            <th>Total Amount</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Amanda Dlamini</td>
            <td>R2000</td>
            <td>Pending</td>
            <td>
                <button class="btn btn-success">Approve</button>
                <button class="btn btn-danger">Reject</button>
            </td>
        </tr>
        

    </tbody>
</table>